<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>

    <title>Task List Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="col-sm-4">
            <a th:href="@{/user/task/create}" class="btn btn-info add-new"><i class="fa fa-plus"></i>New Task</a>
        </div>

        <br />

        <form th:action="@{/}" th:object="${tasks}" method="post">
            <div class="row">
                <div class="col-sm-9 col-md-9" th:unless="${#lists.isEmpty(tasks)}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Task List</h3>
                        </div>
                        <div class="panel-body">
                            <table id="todos" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th class="wdt-160">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task : ${tasks}">
                                    <td class="todo-id" hidden="hidden" th:text="${task.id}"></td>
                                    <td class="todo-name" th:text="${task.name}"></td>
                                    <td class="todo-deadline" th:text="${task.description}"></td>
                                    <td>
                                        <a th:href="@{'/user/task/update/' + ${task.id}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                        <a th:href="@{'/user/task/delete/' + ${task.id}}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</body>
</html>